:root {
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --section-title-color: var(--accent-color);
  --text-color: #f1b2ce;
  --backgound-color: #000028;
  --text-dark-color: var(--backgound-color);
  --decoration-color: var(--accent-color);
  --background-image: url('../images/cover-image-dark.png');
}
